@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html,
body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0px !important;
  background: #1f1f1f;
}

:focus {
  outline: 0;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.record-button-wrapper {
  position: absolute;
  top: calc(50% - 48px - 4rem);
  border-radius: 50%;
  padding: 48px;
  background-color: #eaeaea;
  border: 0.01px solid #cecece;
  transition: transform 400ms;
  cursor: pointer;
  z-index: 100;
  transition: top 300ms, transform 500ms;
}

.record-button-wrapper:hover {
  transform: scale(1.25, 1.25);
}

.record-button-wrapper.recording {
  transform: scale(0.5, 0.5);
  top: 5%;
}

.record-button {
  font-size: 4rem !important;
  color: #444444;
  transition: color 400ms !important;
}

.record-button.play {
  color: #2277dd;
}

.record-button.stop {
  color: #444444;
}

.record-button.record {
  color: #cc3355;
}

#canvas-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

#barsGraph {
  border-radius: 4px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.transcript {
  z-index: 10;
  color: #ffffff;
  font-size: 1.5rem;
  height: 1.75rem;
  padding-top: 16rem;
  padding-left: 32px;
  padding-right: 32px;
  text-align: center;
  font-weight: bold;
  transition: padding-top 400ms;
}

.transcript.recording {
  padding-top: 0px;
}
