html,
body {
  height: 100%;
}

body {
  font: 14px 'Century Gothic', Futura, sans-serif;
  margin: 0px !important;
  background: #1f1f1f;
}

:focus {
  outline: 0;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recordButton {
  border-radius: 50%;
  padding: 32px;
  background-color: #eaeaea;
  border: 0.01px solid #cecece;
  transition: transform 400ms;
  cursor: pointer;
  z-index: 100;
}

.recordButton:hover {
  transform: scale(1.25, 1.25);
}

.mic {
  font-size: 4rem !important;
  color: #444444;
  transition: color 400ms !important;
}

.recordButton .mic.recording,
.recordButton:hover .mic.recording {
  color: #7766ee;
}

audio {
  margin: 48px;
  border-radius: 64px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.canvas-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

#oscilloscope {
  border-radius: 4px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

#metter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}